MVCWebSite/bin/EntityFramework.dll
MVCWebSite/bin/EntityFramework.SqlServer.dll
MVCWebSite/bin/EntityFramework.SqlServer.xml
MVCWebSite/bin/EntityFramework.xml
MVCWebSite/bin/MVCWebSite.dll
MVCWebSite/bin/MVCWebSite.dll.config
MVCWebSite/bin/MVCWebSite.pdb
MVCWebSite/bin/System.Web.Helpers.xml
MVCWebSite/bin/System.Web.Mvc.xml
MVCWebSite/bin/System.Web.Razor.xml
MVCWebSite/bin/System.Web.Webpages.Deployment.xml
MVCWebSite/bin/System.Web.Webpages.Razor.xml
MVCWebSite/bin/System.Web.Webpages.xml
MVCWebSite/bin/roslyn/csc.exe
MVCWebSite/bin/roslyn/csc.exe.config
MVCWebSite/bin/roslyn/csc.rsp
MVCWebSite/bin/roslyn/csi.exe
MVCWebSite/bin/roslyn/csi.exe.config
MVCWebSite/bin/roslyn/csi.rsp
MVCWebSite/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
MVCWebSite/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
MVCWebSite/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
MVCWebSite/bin/roslyn/Microsoft.CodeAnalysis.dll
MVCWebSite/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
MVCWebSite/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
MVCWebSite/bin/roslyn/Microsoft.CSharp.Core.targets
MVCWebSite/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
MVCWebSite/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
MVCWebSite/bin/roslyn/Microsoft.Managed.Core.targets
MVCWebSite/bin/roslyn/Microsoft.VisualBasic.Core.targets
MVCWebSite/bin/roslyn/Microsoft.Win32.Primitives.dll
MVCWebSite/bin/roslyn/System.AppContext.dll
MVCWebSite/bin/roslyn/System.Collections.Immutable.dll
MVCWebSite/bin/roslyn/System.Console.dll
MVCWebSite/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
MVCWebSite/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
MVCWebSite/bin/roslyn/System.Diagnostics.StackTrace.dll
MVCWebSite/bin/roslyn/System.Globalization.Calendars.dll
MVCWebSite/bin/roslyn/System.IO.Compression.dll
MVCWebSite/bin/roslyn/System.IO.Compression.ZipFile.dll
MVCWebSite/bin/roslyn/System.IO.FileSystem.dll
MVCWebSite/bin/roslyn/System.IO.FileSystem.Primitives.dll
MVCWebSite/bin/roslyn/System.Net.Http.dll
MVCWebSite/bin/roslyn/System.Net.Sockets.dll
MVCWebSite/bin/roslyn/System.Reflection.Metadata.dll
MVCWebSite/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
MVCWebSite/bin/roslyn/System.Security.Cryptography.Algorithms.dll
MVCWebSite/bin/roslyn/System.Security.Cryptography.Encoding.dll
MVCWebSite/bin/roslyn/System.Security.Cryptography.Primitives.dll
MVCWebSite/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
MVCWebSite/bin/roslyn/System.Text.Encoding.CodePages.dll
MVCWebSite/bin/roslyn/System.Threading.Tasks.Extensions.dll
MVCWebSite/bin/roslyn/System.ValueTuple.dll
MVCWebSite/bin/roslyn/System.Xml.ReaderWriter.dll
MVCWebSite/bin/roslyn/System.Xml.XmlDocument.dll
MVCWebSite/bin/roslyn/System.Xml.XPath.dll
MVCWebSite/bin/roslyn/System.Xml.XPath.XDocument.dll
MVCWebSite/bin/roslyn/vbc.exe
MVCWebSite/bin/roslyn/vbc.exe.config
MVCWebSite/bin/roslyn/vbc.rsp
MVCWebSite/bin/roslyn/VBCSCompiler.exe
MVCWebSite/bin/roslyn/VBCSCompiler.exe.config
MVCWebSite/bin/zh-Hant/EntityFramework.resources.dll
MVCWebSite/bin/zh-Hant/System.Web.Helpers.resources.dll
MVCWebSite/bin/zh-Hant/System.Web.Mvc.resources.dll
MVCWebSite/bin/zh-Hant/System.Web.Razor.resources.dll
MVCWebSite/bin/zh-Hant/System.Web.Webpages.Deployment.resources.dll
MVCWebSite/bin/zh-Hant/System.Web.Webpages.Razor.resources.dll
MVCWebSite/bin/zh-Hant/System.Web.Webpages.resources.dll
MVCWebSite/obj/Debug/MVCWebSite.csproj.CopyComplete
MVCWebSite/obj/Debug/MVCWebSite.csproj.CoreCompileInputs.cache
MVCWebSite/obj/Debug/MVCWebSite.csproj.FileListAbsolute.txt
MVCWebSite/obj/Debug/MVCWebSite.dll
MVCWebSite/obj/Debug/MVCWebSite.pdb
MVCWebSite/obj/Debug/edmxResourcesToEmbed/Models/dbMemberModel.csdl
MVCWebSite/obj/Debug/edmxResourcesToEmbed/Models/dbMemberModel.msl
MVCWebSite/obj/Debug/edmxResourcesToEmbed/Models/dbMemberModel.ssdl
MVCWebSite/obj/Debug/TempPE/Models.dbMemberModel.Context.cs.dll
MVCWebSite/obj/Debug/TempPE/Models.dbMemberModel.cs.dll
MVCWebSite/obj/Debug/TempPE/Models.dbMemberModel.Designer.cs.dll
MVCWebSite/packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
MVCWebSite/packages/EntityFramework.6.2.0/Content/net40/App.config.transform
MVCWebSite/packages/EntityFramework.6.2.0/Content/net40/Web.config.transform
MVCWebSite/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.dll
MVCWebSite/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll
MVCWebSite/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.xml
MVCWebSite/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.xml
MVCWebSite/packages/EntityFramework.6.2.0/lib/net40/zh-Hant/EntityFramework.resources.dll
MVCWebSite/packages/EntityFramework.6.2.0/lib/net40/zh-Hant/EntityFramework.xml
MVCWebSite/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.dll
MVCWebSite/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.dll
MVCWebSite/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.xml
MVCWebSite/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.xml
MVCWebSite/packages/EntityFramework.6.2.0/lib/net45/zh-Hant/EntityFramework.resources.dll
MVCWebSite/packages/EntityFramework.6.2.0/lib/net45/zh-Hant/EntityFramework.xml
MVCWebSite/packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt
MVCWebSite/packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.dll
MVCWebSite/packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.Utility.dll
MVCWebSite/packages/EntityFramework.6.2.0/tools/EntityFramework.psd1
MVCWebSite/packages/EntityFramework.6.2.0/tools/EntityFramework.psm1
MVCWebSite/packages/EntityFramework.6.2.0/tools/init.ps1
MVCWebSite/packages/EntityFramework.6.2.0/tools/install.ps1
MVCWebSite/packages/EntityFramework.6.2.0/tools/migrate.exe
MVCWebSite/packages/EntityFramework.zh-Hant.6.2.0/EntityFramework.zh-Hant.6.2.0.nupkg
MVCWebSite/packages/EntityFramework.zh-Hant.6.2.0/lib/net40/zh-Hant/EntityFramework.resources.dll
MVCWebSite/packages/EntityFramework.zh-Hant.6.2.0/lib/net40/zh-Hant/EntityFramework.xml
MVCWebSite/packages/EntityFramework.zh-Hant.6.2.0/lib/net45/zh-Hant/EntityFramework.resources.dll
MVCWebSite/packages/EntityFramework.zh-Hant.6.2.0/lib/net45/zh-Hant/EntityFramework.xml
MVCWebSite/.vs/MVCWebSite/v16/.suo
MVCWebSite/obj/Debug/MVCWebSite.csprojAssemblyReference.cache
MVCWebSite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVCWebSite/App_Data/dbMember.mdf
MVCWebSite/App_Data/dbMember_log.ldf
MVCWebSite/Web.config
