
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>圖片上傳</title>
</head>
<body>
    <form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data" class="form-control">
        <p>照片 <input type="file" name="file" /></p>
        <p><input type="submit" value="上傳" /></p>
    </form>

</body>
</html>
